{% load currency_filters %}
{% load category_tags %}
{% load i18n %}
<nav class="navbar container">
    <div class="col-sm-12">
        {% include "partials/brand.html" %}
        <!--div class="pull-right">
            <button type="button" class="toggle-menu" data-toggle="collapse" data-target="#sidemenu">
                <i class="ico-sidebar-r"></i>
            </button>
        </div-->
        {# Mini-basket wrapped in a block so some templates can now display it #}
        {% block mini_basket %}{% include "partials/basket.html" %}{% endblock %}
        <button class="navbar-toggle collapsed" data-target="#navbar" data-toggle="collapse" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav pull-right">
                <li class="dropdown">
                </li>
            </ul>
        </div>
    </div>
</nav>
